.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
}

.heading {
  padding: 20px 15px;
  background-color: #4C3D3D;
  color: #fff;
}

.btn {
  background-color: #C07F00;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  margin: 50px 20px;
  padding: 10px 25px;
  font-size: 20px;
}

.btn:hover {
  cursor: pointer;
}

.para {
  font-size: 30px;
}